.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  border-style: solid;
  border-radius: 8px;
  border-width: thin;
  border-color: #2166C5;
  padding: 8px;
}